.buttonMenuLeft {
  height: 56px;
  width: 56px;
  border:none;
  background-color: var(--color-azul-escuro);
  color: white;
  outline: none;
  overflow: hidden;
}

/* .buttonMenuLeft:hover, .buttonMenuLeft:focus {
  background-color: var(--color-azul-claro);
  display: block;
} */

.itemMenuLeft {
  height: 56px;
  width: 200px;
  border:2px;
  /* background-color: var(--color-azul-escuro); */
  color: white;
  outline: none;
  overflow: hidden;
  /* align-items: center; */
  /* align-content: center; */
  text-align: center;
}

.itemMenuLeft:hover {
  background-color: var(--color-azul-claro);
}

.ulMenuLeft {
  display: none;
}

/* .liMenuLeft {
  display: none;
} */

.buttonMenuLeft:hover  {
  position: relative;
  width: 200px;
  height: 600px;
}

.buttonMenuLeft:hover .ulMenuLeft {
  display: block;
}

/* .buttonMenuLeft:hover .liMenuLeft {
  display: block;
} */
