.containerUserUpdate {
  /* display: grid; */
  box-sizing: border-box;
  /* grid-template-columns: 3fr 1fr;
  grid-template-rows: 10vh 55vh 35vh; */
  /* background-color: white; */
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.headerUserUpdate{
  text-align: center;
  margin-bottom: 10px;
}

.mainUserUpdate{
  width: 100vw;
}

.mainUserUpdate label{
  display: inline-block;
  width: 98%;
  margin-left: 10px;
  margin-bottom: 2px;
}

.mainUserUpdate input{
  width: 98%;
  height: var(--height-input);
  margin-left: 10px;
  margin-bottom: 5px;
  border: none;
  background-color: var(--color-background-input);
  outline: none;
  padding: 5px;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;  
  color: var(--text-color);
}

.mainUserUpdate select{
  width: 98%;
  height: 33px;
  margin-left: 10px;
  margin-bottom: 5px;
  border: none;
  background-color: var(--color-background-input);
  color: var(--text-color);
  font-family: Ubuntu, Arial, Helvetica, sans-serif; 
  outline: none;  
}

.mainUserUpdate .divCpfRg{
  display: inline-block;
  width: 50%;
}

.mainUserUpdate .divCpfRg input{
  width: 96%;
}

.mainUserUpdate .divRuaNumero{
  display: inline-block;
  width: 50%;
}

.mainUserUpdate .divRuaNumero input{
  width: 96%;
}

.mainUserUpdate .labelUserUpdateRuaNumero{
  display: inline-block;
  width: 49%;
}

.mainUserUpdate .inputUserUpdateRuaNumero{
  width: 49%;
  height: 33px;
}

.footerBtnUserUpdate{
  grid-column-start: 1;
  grid-column-end: 3;
}

.footerBtnUserUpdate{
 width: 100vw;
 margin-top: 7px;
}

.footerBtnUserUpdate button{
  border-radius: 6px;
  border: none;
  height: var(--height-input);
  width: 49%;
  background-color: var(--color-azul-escuro);
  color: var(--color-azul-claro);  
  opacity: 0.9; 
}

.footerBtnUserUpdate button:hover{
  opacity: 1; 
}

.updatebtn{
  margin-left: 10px;  
}

.cancelbtn{
  margin-left: 3px;
}

.footerBtnUserUpdate button:hover{
  cursor: pointer;
  opacity: 1;
}