* {
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.containerRegister {
  max-width: 100vw;
  max-height: 100vh;
  margin-left: 10px;
  background-color: var(--color-background-page);
}

.headerUserRegister {
  text-align: center;
  margin-bottom: 10px;
}

.containerRegister input{
  background-color: var(--color-background-input);
  color: var(--text-color);
  height: var(--height-input);
  width: 98%;
  padding: 10px;
  margin-bottom: 10px;
  margin: 5px;
  border: none;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

.containerRegister input:focus {
  background-color: var(--color-background-input);
  outline: none;
}

.mainUserRegister label{
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 2px;
  width: 100%;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: var(--color-azul-escuro);
  color: var(--color-azul-claro);
  height: var(--height-input);
  border-radius: 6px;
  margin: 10px 0 0 6px;
  border: none;
  cursor: pointer;
  width: 98%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

.container-signin{
  width: 100%;
  margin-top: 10px;
}

.container-signin p{
  width: 100%;
  text-align: center;
}

.container-signin a {
  color: var(--color-azul-escuro);
}

.userRegisterPassword{
  display: inline-block;
  width: 49%;
  margin-right: 10px;
}

.userRegisterPassword label{
  display: inline-block;
  width: 100%;
  margin-right: 10px;
} 

.userRegisterPassword input{
  width: 100%;
  margin-right: 10px;
} 

