@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700,700i&subset=greek-ext');

body{
	min-height:100vh;
	font-family: 'Ubuntu', sans-serif;
	background-color: #F7FAF7;
}

.boxRegister{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	height: 400px;
	width: 800px;

	margin-right: auto;
	margin-left: auto;
	margin-top: 90px;

	border: 2px;
	border-color: rgba(30, 108, 217, 0.8);
	border-style: solid;
	box-sizing: border-box;

	color: rgba(30, 108, 217, 0.8);
}

.divTextCenterRegister{
	text-align: center;
	width: 100%;
	font-size: 50px;
}

.boxFieldsRegister{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}

.boxFieldsRegister input{
	padding: 5px;
	width: 500px;
	height: 35px;
	margin-left: 10px;
	border: 0px;
	margin-top: 5px;
}

.boxFieldsRegister input:focus{ 
	border:none;	
	outline:none;
 }


.inputRegister{
	height: 35px;
	width: 200px;
}

.inputRegister input{
	height: 35px;
	border: 0px;
}

.buttonsRegister {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}


.buttonsRegister button{
	margin-top: 10px;
	height: 35px;
	width: 200px;
	margin-left: 5px;
	background-color: rgba(76, 216, 255, 0.8);
	border: none;
	color: rgba(30, 108, 217, 0.8);
}

