:root {
  --primary-color: #34CB79;
  --title-color: #322153;
  --text-color: #6c6c80;
  --color-azul-escuro: rgba(30, 108, 217, 0.8);
  --color-azul-claro: rgba(76, 216, 255, 0.8);
  --color-background-page: #f0f0f5;
  --color-background-input: white;
  --height-input: 33px;
  --height-button: 38px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-background-page); 
  /* -webkit-font-smooothing: antialiased; */
  color: var(--text-color);
  font-family: 'Ubuntu', sans-serif;
} 

input, button {
  font-family: Robot, Arial, Helvetica, sans-serif;
} 

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
  font-family: Ubuntu;
}